<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated examsRepository -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="examsRepository.presentation.ExamsRepositoryModelWizardID"
            name="%_UI_ExamsRepositoryModelWizard_label"
            class="examsRepository.presentation.ExamsRepositoryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ExamsRepositoryModelFile.gif">
         <description>%_UI_ExamsRepositoryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated examsRepository -->
      <editor
            id="examsRepository.presentation.ExamsRepositoryEditorID"
            name="%_UI_ExamsRepositoryEditor_label"
            icon="icons/full/obj16/ExamsRepositoryModelFile.gif"
            extensions="examsrepository"
            class="examsRepository.presentation.ExamsRepositoryEditor"
            contributorClass="examsRepository.presentation.ExamsRepositoryActionBarContributor">
      </editor>
   </extension>

</plugin>
