<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated examsRepository -->
      <package
            uri="http://www.example.org/examsRepository"
            class="examsRepository.ExamsRepositoryPackage"
            genModel="model/examsRepository.genmodel"/>
   </extension>

</plugin>
